#chart {
  height: 300px;
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #aaa;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}