#chart {
  height: 300px;
  position: relative;
  width: 300px;
  margin: 0 auto;
}
.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #aaa;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}
#chart rect {
  cursor: pointer;
  stroke-width: 2;
}
#chart rect.disabled {
  fill: transparent !important;
}
.activity {
  height: 300px;
  width: 360px;
  margin: 0 auto;
  margin-bottom: 15px;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 10px;
  fill: #fff;
}